@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-omar:#8f5339;
  --color-primary:#91553c;
  --color-secondary:#38738c;
  --color-cards:#2e5e73;
  --color-gradient:#113547;
  --color-buttons:#7a4027;


}



html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  background-color: #ffffff;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

html, body {
  background: #ffffff;
  background-color: #ffffff;
}

#__next {
  background: #ffffff;
  background-color: #ffffff;
}
